form {
  padding: 0.2rem;
}
.contenedorMain__div--col {
  @extend .contenedorMain__div;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  .datosContacto {
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: brown;
  }
  select {
    margin-top: 0;
  }
  section {
    margin-top: 2%;
    textarea {
      border-radius: 1rem;
    }
    select {
      border-radius: 1rem;
    }
    .checkboxContacto {
      margin-top: 2%;
    }
  }
}
