* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  .activeNav {
    background-color: #971a1c;
    height: 100%;
    border-radius: 2rem;
    text-shadow: 2px 2px 2px rgb(54, 13, 13);
  }
}
