/*Estilos Ventas*/
.contenedorMain__div {
  section {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
  }
  .precio {
    border: 3px solid brown;
    border-radius: 1rem;
    background-color: brown;
    color: whitesmoke;
    font-style: italic;
    font-size: 1rem;
    padding: 0.25rem;
  }
  .carreteVentas__section {
    display: flex;
    justify-content: space-around;
    flex-flow: row;
    .carreteVentas {
      margin: 1% 2.5% 1% 2.5%;
      transition: 2s;
      &:hover {
        border-radius: 10%;
      }
    }
  }
}

/*Estilos Ventas Individuales*/
.contenedorVentasInd {
  background-image: url(../Media/BuildingBackground4.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  .contenedorVentasInd__div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 245, 245);
    border: 4px double whitesmoke;
    border-radius: 25px;
    padding: 5vh 5vh;
    margin: 5vh 5vh;
    h1 {
      justify-content: center;
    }
    .VentasIndIntro {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      max-width: 100%;
      div {
        display: flex;
        flex-direction: column;
        div {
          flex-direction: row;
          justify-content: space-around;
          .especif {
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: flex-start;
            h3 {
              display: flex;
              justify-content: center;
              font-size: 1.2rem;
            }
            table {
              display: flex;
              justify-content: center;
              width: 100%;
              tr {
                width: 100%;
              }
            }
          }
        }
        p {
          text-align: initial;
        }
        iframe {
          margin-left: 4%;
          border-radius: 0.5rem;
          border: 0.25rem solid #444444;
        }
      }
    }
  }
}

.bullet {
  margin-top: 4vh;
}

.divisor {
  border-top: solid 2px gray;
  width: 75vw;
  margin: 4vh;
}

.multimedia {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "video1 img1" "video2 img1" "img2 img3";
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.multimedia {
  img {
    min-width: 100%;
    min-height: 100%;
    border-radius: 2rem;
  }
}

.multimedia {
  video {
    min-width: 100%;
    min-height: 100%;
    border-radius: 2rem;
  }
}

.video1 {
  grid-area: video1;
}
.video2 {
  grid-area: video2;
}
.img1 {
  grid-area: img1;
}
.img2 {
  grid-area: img2;
}
.img3 {
  grid-area: img3;
}
