/*Estilos Alquileres*/
$hover-red: rgb(94, 23, 23);
$alto: 100px;
$ancho: 200px;

.contenedorAlq {
  color: black;
  background-image: url(../BuildingBackground4.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  .contenedorAlq__div {
    @extend .contenedorAlq;
    background-image: none;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    border: 4px double whitesmoke;
    border-radius: 25px;
    padding: 2vh 2vh;
    margin: 5vh 5vh;
    .contenedor__title {
      background-color: brown;
      padding: 1vh 2vw;
      border-radius: 2rem;
      color: whitesmoke;
    }
    .btn-secondary {
      background-color: brown;
      &:hover {
        background-color: whitesmoke;
        color: brown;
      }
      &:focus {
        background-color: whitesmoke;
        color: brown;
        border-color: brown;
      }
      a {
        &:hover {
          color: brown;
          text-decoration-line: underline;
        }
      }
    }
    .divAlq__img {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      img {
        height: $alto;
      }
      .img--height {
        height: $alto * 5;
        padding-right: 20px;
      }
      .divAlq__img--col {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        img {
          height: $alto * 1.5;
          width: $ancho * 3;
        }
      }
    }
  }
}
