form {
  padding: 0.2rem;
}
.contenedorMain__div--col {
  @extend .contenedorMain__div;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  select {
    margin-top: 0;
  }
  section {
    margin-top: 2%;
    .checkboxContacto {
      margin-top: 2%;
    }
  }
}
